.home-page{
  margin: 0 2rem;
}

.restaurant-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Remove gap and use margin for control */
    
  }
.restaurant-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  .restaurant-list {
    flex: 1 1 calc(16.66% - 10px); /* Adjust card width accordingly */
    max-width: calc(16.66% - 10px);
    margin: 5px; /* Controls the gap between cards */
  }
  .ads{
    display: flex;
    justify-content: space-between;
  }
