.unique-categories-section {
    padding: 40px 20px;
  }
  
  .unique-categories-section h2 {
    margin-bottom: 20px;
  }
  
  .unique-categories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .unique-category-card {
    flex: 1 1 calc(16.66% - 20px); /* Each card takes ~1/6th of the row with spacing*/
    max-width: calc(16.66% - 20px);
    min-width: 150px; /* Minimum size of the card for small screens */
    background-color: #ff8c00;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    color: white;
    cursor: pointer;
  }
  
  .unique-category-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  }
  
  .unique-category-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
  }
  
  .unique-category-card p {
    color: #ff8c00;
  }
  
  
  .unique-category-card h4 {
    margin-bottom: 15px;
    text-align: center;
  }
  