/* McDonalds.css */
.header-container {
  width: 100%;
  background-color: #03081f;
  border-radius: 10px;
  /* opacity: 0.8; */


}

.main-header {
  position: relative;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header-content {
  color: white;
  margin-top: 8%;

}

.tagline {
  font-size: 14px;
  margin-bottom: 0px;
}

.restaurant-name {
  /* font-weight: bold; */
  font-size: 50px;
  margin-bottom: 16px;
  margin-top: 0px;
}

.info-badges {
  display: flex;
  gap: 12px;
}

.badge {
  /* background-color: rgba(255, 255, 255, 0.1); */
  border-radius: 999px;
  padding: 8px 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 0.1px solid white;
}

/* .rating-card {
    position: absolute;
    right: 24px;
    top: 24px;
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 16px;
  } */

.rating-info {
  text-align: center;
  background-color: white;
  border-radius: 8px;
  padding: 0.5rem;
  position: absolute;
  right: 43%;
  bottom: 10%;
}

.rating-number {
  font-size: 2rem;
  font-weight: bold;
}

.stars {
  color: #ffc107;
  font-size: 14px;
}

.review-count {
  font-size: 12px;
  color: #666;
}

.food-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.bottom-section {
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  color: white;
}

.opening-hours {
  background-color: #fc8a06;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 900;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 0 8px 8px 0px;
  position: absolute;
}

.clock-icon {
  color: white;
}

.offers-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin-top: 2.5rem ;
  margin-bottom: 1rem;
}

.offers-title {
  font-weight: bold;
}

.search-container {
  position: relative;
}

.search-input {
  padding: 8px 16px 8px 40px;
  border-radius: 999px;
  border: 1px solid #ddd;
  font-size: 14px;
  width: 256px;
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .rating-card {
    position: static;
    margin-top: 16px;
  }

  .bottom-section {
    flex-direction: column;
    gap: 16px;
  }

  .offers-container {
    flex-direction: column;
    margin-left: 0;
    gap: 16px;
  }

  .search-input {
    width: 100%;
  }
}
