body{
    margin: 0px;
}
.product-page{
    margin: 0 2rem;
}

.no-margin{
    margin: 0px;
}

.add-to-cart{
    padding: 1rem;
    background-color: white;
    opacity: 0.8; /* Makes the whole div semi-transparent */
    border: 1px solid #eee;
    display: inline-block;
    border-radius: 25px 0px;
    position: absolute;
    right: -4%;
    bottom: -5.5%;
    cursor: pointer;
}

/* General Layout */
.main-content {
    padding: 20px;
  }
  
  .content-sections {
    display: flex;
    flex-wrap: nowrap;
    transition: all 0.3s ease-in-out;
  }
  
  .content-sections.cart-open {
    gap: 20px; /* Space between sections when cart is open */
  }
  
  .left-sections {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
 
  

  
  /* Adjust for responsive behavior */
  @media (max-width: 768px) {
    .content-sections {
      flex-wrap: wrap; /* Wrap sections on smaller screens */
    }
  
    .cart-section {
      width: 100%; /* Full width cart on smaller screens */
      border-left: none;
      box-shadow: none;
    }
  }
  