.footer {
  background-color: #e8e8e8;
  display: flex;
  padding: 2rem;
  flex-direction: row;
  justify-content: space-between;
  color: black;
  margin: 0px;
  overflow: hidden;
  margin-top: 25px;
}
.footer div {
  width: 33.3%;
  float: left;
}
.footer div:last-child {
  width: 33.4%;
}
.footer-left {
  padding: 0.5em;
}

.footer-logo {
  margin-top: 1rem;
  margin-bottom: 0;
}
.app-buttons {
  margin: 0.5rem;
}

.footer-left,
.footer-middle {
  display: flex;
  flex-direction: column;
}
.footer-right {
  display: flex;
  gap: 25px;
}
.left p,
.right p {
  text-decoration: underline;
}
.subscribe-form {
  display: flex;
  flex-direction: row;
}

.subscribe-input {
  padding-left: 20px;
border-top-left-radius: 25px;
border-bottom-left-radius: 25px;
  padding: 0.5rem;
  border: none;
  background-color: #d9d9d9;
}
.subscribe-btn {
  border-radius: 25px;
  padding: 0.5rem;
  border: none;
  margin-left:-10px;
  background-color: #fc8a06;
  color: white;

}
.icons img {
  width: 35px;
  height: 35px;
}
.icons {
  gap: 10px;
}
.bottom-container {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  font-size: 12px;
  align-items: center;
  background-color: #03081f;
  color: white;
}
.right-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.75rem;
}

@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer div {
    width: 100%;
    text-align: center;
  }
  .footer-left p {
    width: 100%;
  }
  .footer-right div {
    display: block;
    width: 100%;
  }
  .footer-middle {
    display: none;
  }
}
